*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    display:relative;
    align-items: center;
    justify-content: center;


    background: url("../Media/more bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
/* HEADER */
header{
    display: flex;
    justify-content: center;
    margin-top: 40px;

    
}

/* NAV CONTAINER */
nav{
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 20px 20px;
    
    background-color: transparent;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 30px   rgb(88, 87, 87);
}

/* UL */
nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* NAV ITEMS */
nav ul li a{
    text-decoration: none;
    
    color: rgba(232,228,203,0.792);

    font-size: 20px;
    padding: 8px 18px;

    border: 2px solid transparent;
    border-radius: 20px;
    

    transition: 0.3s; /* find what is this about */
}

/* HOVER */
nav ul li a:hover{
    border: 2px solid transparent;
    color: rgb(15, 113, 67);
}



/* CONTACT US */
.container{
    width:70%;
    background: rgba(232, 228, 203, 0.792); 

    border-radius: 2rem;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-top: 20px;
}

.content{
    display:flex;
    justify-content: space-between;
    gap: 40px;
}

/* LEFT */
.left-side{
    width: 70%;
}

.left-side .topic-text{
    font-size: 24px;
    margin-bottom: 10px;
}

.input-box{
    margin: 10px 0;
}

.input-box input,
.input-box textarea{
    width: 100%;
    padding: 8px;
    border-radius: 8px ;
    border: 1px transparent;
}

/* RIGHT */
.right-side{
    width: 30%;
    text-align: center;
    margin-top: 180px;
}

.right-side .details{
    margin-bottom: 20px;
    text-decoration: none;
    list-style: none;

}

.right-side i{
    font-size: 28px;
    color: rgb(31, 108, 45);
    
}


input[type="submit"]{
    background-color: rgb(221, 212, 173);
    color: rgb(130, 67, 22);
    font-size: 20px;
    padding: 8px 18px;
    border: 2px solid rgb(130, 67, 22);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover{
    color: rgb(23, 132, 47);
}


.details a {
    text-decoration: none;   /* removes underline */
    color:inherit ;          /* keeps your original text color */
}

.details a:hover {
    color: rgb(15, 113, 67); /* your theme color */
    transition: 0.3s;
}