html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../Media/homebg.jpg");
    background-size: cover;   /* width fills screen */
    background-position: relative;
    background-repeat: no-repeat;
}